Dear <%= @user.name %>
<p><%= I18n.t('user_mailer.email_send_message') %></p>
<br>
<p><b>Temp password: </b> <%= @password %> </p>
<br>
<h5><%= I18n.t('user_mailer.confirmation_inner_text') %>: </h5>
<%= link_to I18n.t('views.button.mailer.confirm_email'), edit_confirmation_url(@confirmation_token) %>
