<div style="width: 500px; margin: 0 auto;">
  <div class="card mt-5">
    <div class="card-header">
      <h5>Edit Your Information</h5>
    </div>
    <div class="card-body">
      <%= form_with(model: @user, url: 'update', method: 'post') do |form| %>
        <% if current_user.picture.attached? %>
          <div class="container text-center">
            <%= image_tag current_user.picture, class: 'img-fluid rounded-circle', style: 'height: 200px; width: 200px; border: 2px solid gray;' %>
          </div>
        <% end %>
        <%= form.file_field :picture %> <br><br>
        <% if @errors.present? %>
          <% @errors.each do |message| %>
            <div style="color: red;"><%= message %></div>
          <% end %>
        <% end %>
        <div class="mb-3">
          <%= form.label :first_name, class: 'form-label' %>
          <%= form.text_field :first_name, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= form.label :last_name, class: 'form-label' %>
          <%= form.text_field :last_name, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= form.label :email, class: 'form-label' %> </br>
          <%= form.text_field :email, class: 'form-control', disabled: true %>
        </div>
        <div class="mb-3">
          <%= form.label :phone, class: 'form-label' %>
          <%= form.phone_field :phone, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= form.label :address, class: 'form-label' %>
          <%= form.text_area :address, class: 'form-control' %>
        </div>
        <div class="row">
          <div class="col-12">
            <%= form.submit "Update", class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
