<div style="width: 350px; margin: 0 auto;">
  <div class="card mt-5">
    <div class="card-header">
      <h5>Change password </h5>
    </div>
    <div class="card-body">
      <%= form_with(url: 'change_password', method: 'post') do |form| %>
        <%#= render partial: "shared/form_errors", locals: { object: form.object } %>
        <div>
          <label for="user_email">Email</label><br>
          <%= text_field_tag 'user[email]', @user.email, disabled: true %>
        </div>
        <div>
          <label for="user_current_password">Current password</label><br>
          <%= password_field_tag 'user[current_password]', @user.current_password %>
        </div>
        <div>
          <label for="user_password">Password</label><br>
          <%= password_field_tag 'user[password]', @user.password %>
        </div>
        <div>
          <label for="user_password_confirmation">Confirm Password</label><br>
          <%= password_field_tag 'user[password_confirmation]', @user.password_confirmation %>
        </div>
        <div class="row">
          <div class="col-6">
            <%= form.submit "Update" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
