<div style="width: 500px; margin: 0 auto;">
  <div class="card mt-5">
    <div class="card-header">
      <h5><%= I18n.t('views.inner_text.users.registration_title') %></h5>
    </div>
    <div class="card-body">
      <%= form_with(model: @organization, url: sign_up_path, multipart: true) do |parent_form| %>
        <div class="mb-4">
          <%= parent_form.label I18n.t('views.label.organization_name') %> </br>
          <%= parent_form.text_field :name, style: 'width:100%', placeholder: I18n.t('views.placeholder.organization_name'), required: true %>
          <% @organization.errors.full_messages_for(:name).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
        <div style="width: 100%; height: 2px; border-bottom: 2px solid #666666;"></div>
        <%= parent_form.fields_for :users do |form| %>
          <div class="mt-4">
            <%= form.label :first_name %> </br>
            <%= form.text_field :first_name, style: 'width:100%', placeholder: I18n.t('views.placeholder.first_name'), required: true %>
            <% @organization.users.first.errors.full_messages_for(:first_name).each do |message| %>
              <div class="text-danger"><%= message %></div>
            <% end %>
          </div>
          <div>
            <%= form.label :last_name %> </br>
            <%= form.text_field :last_name, style: 'width:100%', placeholder: I18n.t('views.placeholder.last_name'), required: true %>
            <% @organization.users.first.errors.full_messages_for(:last_name).each do |message| %>
              <div class="text-danger"><%= message %></div>
            <% end %>
          </div>
          <div>
            <%= form.label :email %> </br>
            <%= form.email_field :email, style: 'width:100%', placeholder: I18n.t('views.placeholder.email'), required: true %>
            <% @organization.users.first.errors.full_messages_for(:email).each do |message| %>
              <div class="text-danger"><%= message %></div>
            <% end %>
          </div>
          <div>
            <%= form.label :phone %> </br>
            <%= form.phone_field :phone, style: 'width:100%', placeholder: I18n.t('views.placeholder.phone'), required: true %>
            <% @organization.users.first.errors.full_messages_for(:phone).each do |message| %>
              <div class="text-danger"><%= message %></div>
            <% end %>
          </div>
          <div>
            <%= form.label :address %> </br>
            <%= form.text_area :address, style: 'width:100%', placeholder: I18n.t('views.placeholder.address'), required: true %>
            <% @organization.users.first.errors.full_messages_for(:address).each do |message| %>
              <div class="text-danger"><%= message %></div>
            <% end %>
          </div>
          <div>
            <%= form.label :password %> </br>
            <%= form.password_field :password, style: 'width:100%',placeholder: I18n.t('views.placeholder.password'), required: true %>
            <% @organization.users.first.errors.full_messages_for(:password).each do |message| %>
              <div class="text-danger"><%= message %></div>
            <% end %>
          </div>
          <div>
            <%= form.label :password_confirmation %> </br>
            <%= form.password_field :password_confirmation, style: 'width:100%',placeholder: I18n.t('views.placeholder.password_confirmation'), required: true %>
            <% @organization.users.first.errors.full_messages_for(:password_confirmation).each do |message| %>
              <div class="text-danger"><%= message %></div>
            <% end %>
          </div>
          <div>
              <%= form.label :picture %> <br>
              <%= form.file_field :picture, required: true %>
            <% @organization.users.first.errors.full_messages_for(:picture).each do |message| %>
              <div class="text-danger"><%= message %></div>
            <% end %>
          </div>
        <% end %>
        <br>
        <div class="row">
          <div class="col-6">
            <%= parent_form.submit I18n.t('views.button.sign_up') %>
          </div>
          <div class="col-6">
            <%= link_to I18n.t('views.button.login_here'), login_path %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
