<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">LMS</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-link">
            <%= link_to I18n.t('views.button.dashboard'), dashboard_show_user_path, class: 'btn btn-light' %>
          </li>
          <li class="nav-link">
            <%= link_to I18n.t('views.button.update_profile'), user_update_path, class: 'btn btn-light' %>
          </li>
          <li class="nav-link">
            <%= link_to I18n.t('views.button.change_password'), user_change_password_path, class: 'btn btn-light' %>
          </li>
          <li class="nav-link">
            <%= form_with url: logout_path, method: :delete do |form| %>
              <%= form.button I18n.t('views.button.logout'), class: 'btn btn-light' %>
            <% end %>
          </li>
        <% else %>
          <li class="nav-link">
            <%= link_to I18n.t('views.button.login'), login_path %>
          </li>
          <li class="nav-link">
            <%= link_to I18n.t('views.button.sign_up'), sign_up_path %>
          </li>
        <% end %>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder= <%= I18n.t('views.placeholder.search') %>>
        <button class="btn btn-primary" type="button"><%= I18n.t('views.placeholder.search') %></button>
      </form>
    </div>
  </div>
</nav>
