<table class="table table-striped w-100">
  <thead>
  <tr>
    <th scope="col">Username</th>
    <th scope="col">Role</th>
    <th scope="col">Deadline</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <% enrolled = user.enrollments.where(course_id: @course.id).first %>
      <td><%= user.name %></td>
      <td><%= user.role %></td>
      <td><%= enrolled.completion_time.strftime("%d-%m-%Y") if enrolled.present? && enrolled.completion_time.present? %></td>
      <td>
        <% if enrolled.present? %>
          <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#myModal<%= user.id %>">
            <b style="font-size: 20px;">-</b>
          </button>
          <%= render partial: "dis_enrollment_model", locals: { user: user, course: @course } %>
        <% else %>
          <button type="button" class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#myModal<%= user.id %>">
            <b style="font-size: 20px;">+</b>
          </button>
          <%= render partial: "enrollment_modal", locals: { user: user, course: @course } %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
