<div id="demo" class="collapse">
  <div style="width: 600px;">
    <div class="card m-3">
      <div class="card-body">
        <%= form_with(model: @lesson, url: "/dashboard/add_lesson/#{@course.id}") do |form| %>
          <%#= render partial: "shared/form_errors", locals: { object: form.object } %>
          <div class="mt-4">
            <%= form.label :title %> </br>
            <%= form.text_field :title, style: 'width:100%', placeholder: 'Enter your lesson title', required: true %>
            <% @lesson.errors.full_messages_for(:title).each do |message| %>
              <div class="text-danger"><%= message %></div>
            <% end %>
          </div>
          <div class="mt-4">
            <%= form.label "Point" %> </br>
            <%= form.text_field :score, style: 'width:100%', placeholder: 'Provide point for this lesson', required: true %>
            <% @lesson.errors.full_messages_for(:score).each do |message| %>
              <div class="text-danger"><%= message %></div>
            <% end %>
          </div> </br>
          <div>
            <%= form.label :description %> <br>
            <%= form.text_area :description, style: 'width:100%;', placeholder: 'Enter lesson content', required: true %>
            <% @lesson.errors.full_messages_for(:description).each do |message| %>
              <div class="text-danger"><%= message %></div>
            <% end %>
          </div>
          <br>
          <div class="row">
            <div class="col-6">
              <%= form.submit "Add", class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
