<div class="row">
  <% @courses.each do |course| %>
    <div class="col-4 mb-3">
      <div class="card" style="min-height: 200px;">
        <div class="card-header">
          <h4><%= course.title %></h4>
          <% if current_user.admin? %>
            <p style="font-size: 12px;">Owner: <i><%= course.users.first.name %></i></p>
          <% end %>
        </div>
        <div class="card-body"><p><%= course.description %></p></div>
        <div class="card-footer">
          <%= link_to I18n.t('views.button.details'), "/dashboard/show_a_course/#{course.id}", class: "btn btn-sm btn-secondary" %>
          <% if policy(course).edit_course? %>
            <%= link_to I18n.t('views.button.edit'), "/dashboard/edit_course/#{course.id}", class: "btn btn-sm btn-success" %>
          <% end %>
          <% if policy(course).destroy_course? %>
            <%= link_to I18n.t('views.button.assign'), "/dashboard/enroll_course/#{course.id}", class: "btn btn-sm btn-info" %>
          <% end %>
          <% if policy(course).destroy_course? %>
            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#myModal<%= course.id %>">
              <%= I18n.t('views.button.delete') %>
            </button>
            <div class="modal" id="myModal<%= course.id %>">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title"><%= I18n.t('views.button.delete') %></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>
                  <div class="modal-body">
                   <%= I18n.t('views.inner_text.courses.delete_confirmation_message') %>
                  </div>
                  <div class="modal-footer">
                    <%= form_with url: "/dashboard/delete_course/#{course.id}", method: :delete do |form| %>
                      <%= form.button I18n.t('views.button.delete'), class: 'nav-link btn-danger' %>
                    <% end %>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"><%= I18n.t('views.button.close') %></button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
